body, hr {
  margin: 3px 0px;
}

hr {
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}

a {
  display: block;
  padding: 4px 30px;
  font: 12px sans-serif;
  text-decoration: none;
  color: inherit;
}

a:hover {
  background-color:#eee;
}